.dcs-8415668d-0 {
  cursor: pointer;
  color: blue;
}
.dcs-8415668d-1 {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
  width: 100%;
  height: 100%;
}
.dcs-2e988578-0 {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.dcs-2e988578-1 {
  text-align: center;
  position: sticky;
  background: #000;
  top: 0;
  width: 100%;
  margin-bottom: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  min-height: 16px;
  box-shadow: 0 .25em .3em 0 rgba(0,0,0,0.50);
}
.dcs-2e988578-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dcs-2e988578-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.dcs-2e988578-4 {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  justify-content: center;
}
.dcs-2e988578-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-begin;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgba(62, 68, 74, 0.5), rgba(192, 192, 192, 0.4), rgba(91, 96, 105, 0.5)), repeating-linear-gradient(0deg, rgba(1, 5, 8, 0.26), rgba(189, 189, 189, 0.4) 2.5px), repeating-linear-gradient(0deg, rgba(2, 23, 38, 0.32), rgba(192, 192, 192, 0.4) 2.7px), repeating-linear-gradient(0deg, rgba(58, 65, 71, 0.60), rgba(224, 226, 227, 0.3) 3.0px), repeating-linear-gradient(0deg, rgba(91, 95,  98, 0.5), rgba(55, 170, 233, 0.26) 4.5px);
}
.dcs-2e988578-6 {
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 -.25em .3em 0 rgba(0,0,0,0.50);
}
.dcs-2e988578-7 {

}
.dcs-2e988578-8 {
  display: none;
}
.dcs-2e988578-9 {
  visibility: hidden;
}
.dcs-2e988578-10 {
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.dcs-2e988578-11 {
  font-size: 1em;
  font-weight: bold;
}
.dcs-2e988578-12 {
  text-shadow: -2px -2px 2px #FFFFFF;
  font-size: 2em;
}
.dcs-2e988578-13 {
  text-shadow: -2px -2px 2px #FFFFFF;
  font-size: 2.5em;
}
.dcs-2e988578-14 {
  text-shadow: -2px -2px 2px #FFFFFF;
  font-size: 5em;
  margin-top: -.1em;
  margin-bottom: -.2em;
}
.dcs-2e988578-15 {
  justify-content: center;
}
.dcs-2e988578-16 {
  justify-content: space-between;
}
.dcs-2e988578-17 {
  padding-left: 1em;
  padding-right: 1em;
  width: calc(100% - 2em);
}
.dcs-2e988578-18 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: .5em;
  border-style: solid;
  border-width: 1px;
  width: calc(100% - 2em - 2px);
  background-color: white;
  box-shadow: .25em .25em .3em 0 rgba(0,0,0,0.50);
}
.dcs-2e988578-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dcs-2e988578-20 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dcs-2e988578-21 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}
.dcs-2e988578-22 {
  height: 70vh;
  width: calc(100% - 2px);
  margin-top: -1em;
  border-style: solid;
  border-width: 1px;
}
.dcs-2e988578-23 {
  position: relative;
  height: 1em;
  max-height: 1em;
  min-height: 1em;
  width: calc(100% - 2em);
  margin-top: 1em;
  padding: 1em;
}
.dcs-2e988578-24 {
  position: absolute;
  height: .3em;
  max-height: .3em;
  min-height: .3em;
  top: 1.35em;
  left: 1em;
  right: 1em;
  background-color: black;
  border-radius: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  user-select: none;
}
.dcs-2e988578-25 {
  position: absolute;
  height: .5em;
  max-height: .5em;
  min-height: .5em;
  width: 1em;
  top: 1.25em;
  border-width: 2px;
  border-style: solid;
}
.dcs-2e988578-26 {
  border-radius: 0 10px 10px 0;
  background-color: blue;
  border-color: blue;
}
.dcs-2e988578-27 {
  border-radius: 10px 0 0 10px;
  background-color: red;
  border-color: red;
}